<?php include("server.php");?>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
   <style>

form
{
  text-align:center;
  border:  solid;
  padding: 50px;
  margin: 20px;
  background-color:coral;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2
{
	text-align:center;
	color:White;
	
}
body
{
	background-image:url("image.jpg");
	background-repeat:no-repeat;
	background-size:1000px;
	
}

</style>

  </head>
  <body class="inc">
    

    <div class="header">
      <h2 style="color:white"> Income Details</h2>
    </div>

    <form method="post" action="/income">
      <?php include('errors.php'); ?>
      <div class="input-group">
        <label>Amount :</label>
        <input type="number" name="amount" required>
      </div>
      <div class="input-group">
        <label>Date :</label>
        <input type="date" name="date" required>
      </div>
      <div class="input-group">
        <label>Source</label>
        <input type="text" name="sources" required>
      </div>

      <div class="input-group">
        <button type="submit" class="btn" name="in_btn">Submit</button>
      </div>

    </form>

  </body>
</html>
